* {
    margin: 1;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
  }
  
.emphasized { font-weight: 900;
                font-size: 15px;
                font-style: italic;
            }
  
body {
    background-color: rgba(200, 255, 0, 0);
}

.label-secondary {
    color: rgb(0, 0, 0);
    font-size: 13px;
    }


