/* Piano roll*/

/* TODO: Merge these body styles with the ones above */

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    position: relative;
  }
  
  span {
    font-family: 'Roboto Mono', monospace;
    padding: 30px;
  }
  
  .center, canvas {
    display: flex;
    flex-direction: row;
    justify-content: bottom;
    margin-left: 20px; /* Add the missing "px" for margin-left */
    margin-right: auto;
  }
  
  
  
  
  